$ship-sunk: #f8bde2;
$empty-cell: #f3eaf4;
$highlight: #f8aeae;
$dark-one: #8f9491;
$dark-light: #eadde1;
$dark-text: #3e3f3e;

* {
	padding: 0;
	margin: 0;
}

:root {
	height: 100%;
	width: 100%;
	background-color: $dark-light;
}
body,
#game-container {
	min-height: 100vh;
	min-width: 100vw;
}

#game-container,
.dual-board {
	background-color: $dark-light;
	display: grid;
}

#start-screen {
	background-color: $highlight;
	color: $dark-text;
	min-height: 60vmin;
	min-width: 60vmin;
	box-sizing: border-box;
	border-radius: 10px;
	place-self: center;
	display: grid;
	grid-template-rows: 150px 2fr;
	place-items: center;
	padding: 5%;
	h1 {
		font-size: calc(4rem + 20px);
	}
	text-align: center;

	form {
		display: grid;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		grid-template-rows: 2fr 1fr;
		input[type='text'] {
			border-radius: 10px;
			height: clamp(50px, 20vh, 500px);
			width: clamp(50px, 50vw, 300px);
			border: $empty-cell;
			font-size: clamp(15px, calc(4rem + 5px), 50px);
			text-align: center;
			color: $dark-text;
			&:placeholder-shown {
				font-style: italic;
			}
		}

		input[type='submit'] {
			border: 0;
			border-radius: 10px;
			height: clamp(20px, 50px, 100px);
			background-color: $ship-sunk;
			color: rgb(46, 26, 26);
			font-size: clamp(15px, calc(1rem + 10px), 30px);
			&:hover,
			&:active {
				background-color: rgba($ship-sunk, 1);
			}
			&:active {
				box-shadow: 0 0 5px rgba($dark-light, 0.5);
			}
		}
	}
}

.dual-board {
	padding: clamp(5px, 1%, 10%) 0;
	gap: 5vmin;
	place-self: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}

#opponent-side .game-board .unhit-cell:hover {
	background-color: rgba($ship-sunk, 0.5);
}

#player-side,
#opponent-side {
	display: grid;
	.game-board {
		height: clamp(200px, 45vmin, 1000px);
		width: clamp(200px, 45vmin, 1000px);
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 1fr);
		border: 0.2rem ridge $dark-one;
		text-align: center;
		color: rgb(64, 2, 33);
		font-weight: bolder;
		.cell {
			border: 0.2rem ridge $dark-one;
			font-size: clamp(1rem, 2rem, 10px);
		}

		.hit-cell {
			background-color: $highlight;
			//border: 0.1rem ridge $highlight;
		}
		.missed-cell {
			background-color: $ship-sunk;
		}
	}
	.player-name {
		text-align: center;
		font-size: clamp(0.2rem, 1.5rem, 50px);
		word-wrap: break-word;
	}
}

@media screen and (max-width: 700px) {
	.dual-board {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.preview {
	background-color: rgba($highlight, 0.7);
}
